name: Documentation Deployment
on:
    push:
        branches: [ main ]
jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3

        - name: Build the documentation
          run: npm run docs
        
        - name: Deploy on GitHub Pages
          uses: peaceiris/actions-gh-pages@v3
          with:
            personal_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
            publish_dir: ./out
            publish_branch: gh-pages